<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Memories</title>
   
</head>
<body>
    <h3> Chat Adding Form</h3>
    <form  method="post" action="/display/new/update?_method=POST">
        <div class="outer">
        <div class="from"> 
         <input type="text" name="from" id="from" placeholder="sender name">
        </div>
        <br>
        <div>
       <Textarea cols="40" rows="5" name="msg" placeholder="Type Nostolgic Memory"></Textarea>
        </div>
        <br>
        <div class="to">
        <input type="text" name="to" id="to" placeholder="receiver name">
        </div>
        <br>
        <div class="button">
            <button>submit</button>
        </div>
        </div>

    </form>
    
</body>
</html>